@use "../abstracts/" as *;
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: $light-bg;
}

::-webkit-scrollbar-thumb{
  background-color: $brown;
}

body {
  font-family: "Dosis", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.py {
  padding: 6rem 0;
}

.swiper-pagination-bullet-active {
  background: $brown;
}
.swiper .swiper-pagination {
  bottom:0;
}

@media (max-width:414px){
  html{
     font-size: 50%;
  }
}