@mixin flex($justify,$item) {
  display: flex;
  justify-content: $justify;
  align-items: $item;
  flex-wrap: wrap;
}

@mixin grid($value) {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax($value,1fr));
  gap: 2rem;
}