@use "../abstracts/" as *;

.blogs {
  background-color: $light-bg;
  .card {
    background-color: $white;
    border: $border;
    box-shadow: $box-shadow;
    margin-bottom: 4rem;
    &:hover {
      .card__image {
        img {
          transform: scale(1.1);
        }
        span {
          bottom: 1.5rem;
        }
      }
    }
    &__image {
      position: relative;
      overflow: hidden;
      img {
        object-fit: cover;
      }
      span {
        position: absolute;
        padding: 0.5rem 1.8rem;
        font-size: 2rem;
        left: 50%;
        bottom: -8rem;
        transform: translateX(-50%);
        color: $white;
        background-color: $black;
        z-index: 2;
      }
    }
    &__content {
      padding: 1.5rem;
    }
    &__icons {
      @include flex(space-between, center);
      font-size: 1.5em;
      margin-bottom: 1.5rem;
      span {
        color: $light-black;
        margin-left: 0.8rem;
      }
      i {
        color: $brown;
      }
    }
    &__desc {
      padding: 1rem 0;
    }
  }
}
